html{
	background-image: url("background_03a.jpg");
	background-size: cover;
}

body {
	font: bold 11px/1.5em Verdana;
	}

img {
	display: block;
	padding-top: 50px;
	margin: 1px auto;
}

h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding:0;
	}

hr {
	border:none;
	border-top:1px solid #CCCCCC;
	height:1px;
	margin-bottom:25px;
	}

#image_2 {
	display: block;
	top: 0px;
}
	
#tabs {
	float:left;
	width:100%;
	font-size:20px;
	border-bottom:1px solid #2763A5;
	padding-top:50px;
	line-height:normal;

	}

#tabs ul {
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
	}

#tabs li {
	display:inline;
	margin:0;
	padding:0;
	}

#tabs a {
	float:left;
	background:url("tableft.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	}

#tabs a span {
	float:left;
	display:block;
	background:url("tabright.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	color:#FFF;
	}


#tabs a span {float:none;}

#tabs a:hover span {
	color:#FFF;
	}

#tabs a:hover {
	background-position:0% -42px;
	}

#tabs a:hover span {
	background-position:100% -42px;
	}
	
#image img{
	width: 50%
	display: block;
}

#logo {
	float: center;
	display: inline;
	padding:10px 10px 0 50px;
	list-style: none;

}

.column {
    float: left;
    width: 23%;
    padding: 10px;
}

.column img {
    margin-top: 12px;
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 800px) {
    .column {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .column {
        width: 100%;
   }
}

.buttons {
	text-align: center;
	padding-top: 13%;
}

.buttons a {
	margin-right: 100px;
	width: 64px;
	height: 64px;
	display: inline-block;
	position: relative;
	line-height: 64px;
	background-color: #eaeaea;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #f6f6f6, #eaeaea);
	background-image: -moz-linear-gradient(top, #f6f6f6, #eaeaea); 
	background-image: -ms-linear-gradient(top, #f6f6f6, #eaeaea); 
	background-image: -o-linear-gradient(top, #f6f6f6, #eaeaea);
	background-image: linear-gradient(top, #f6f6f6, #eaeaea);
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	border-radius: 32px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}

.buttons a:active {
	top: 1px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#f6f6f6));
	background-image: -webkit-linear-gradient(top, #eaeaea, #f6f6f6);
	background-image: -moz-linear-gradient(top, #eaeaea, #f6f6f6); 
	background-image: -ms-linear-gradient(top, #eaeaea, #f6f6f6); 
	background-image: -o-linear-gradient(top, #eaeaea, #f6f6f6);
	background-image: linear-gradient(top, #eaeaea, #f6f6f6);
}

.buttons a::before{
		content: '';
		position: absolute;
		z-index: -1;
		top: -8px;
		right: -8px;
		bottom: -8px;
		left: -8px;
		background-color: #eaeaea;
		-moz-border-radius: 140px;
		-webkit-border-radius: 140px;
		border-radius: 140px;
	opacity: 0.5;		
}

.buttons a:active::before {
	top: -1px;
}

.buttons a:hover::before { opacity: 1; }

.buttons a.instagram:hover::before {
	background-color: #f8ebb6;
}

.buttons a.facebook:hover::before {
	background-color: #dae1f0;
}

.buttons a.tumblr:hover::before {
	background-color: #fadae6;
}

.buttons a.rss:hover::before {
	background-color: #f8ebb6;
}

.buttons i {
padding-top: 15px;
font-size: 30px;
color: #999999;
}

.instagram img { vertical-align: -7px; }
.tumblr img { vertical-align: -12px; }
.facebook img { vertical-align: -12px;}
.rss img { vertical-align: -7px;}

.buttons a img { border: 0; }

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: absolute;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  
}

#myBtn:hover {
  background-color: #555;
}







